.stub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-white);
}

.stub-text {
  font-size: 16px;
  color: var(--color-black);
}
