# Node modules
node_modules/

# TypeScript build output
dist/

# Logs
logs/
*.log
npm-debug.log*

# IDE / editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
*.swp

# Nodemon temp files
*.tsbuildinfo

# Database
database.sqlite